#container{
    display: flex;
    width: 960px;
    box-sizing: border-box;
    flex-wrap: wrap;
    background-color: cadetblue;
}

.square{
    border: solid 1px black;
    box-sizing: border-box;
}